.about {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.aboutTop {
    width: 100%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
    display: flex;
    flex-direction: column;
    height: 55%;
    align-items: center;
    margin-top: 50px;
}

.aboutBottom p {
    width: 100%;
    /* Set width to 100% to make it responsive */
    max-width: 1200px;
    /* Add max-width to control the maximum width */
}

@media (max-width: 1000px) {
    .aboutBottom {
        height: auto;
        /* Allow the height to adjust based on content */
        margin-top: 20px;
        /* Adjust margin as needed */
        padding: 0 20px;
    }

    .about .aboutBottom h1 {
        font-size: 40px;
        /* Adjust font size for smaller screens */
        transform: translateY(0);
        /* Reset transform for smaller screens */
    }
}